header {
    background-color: rgb(71, 192, 149);
  }

h2 {
    background-color: rgb(71, 192, 149);
    text-align: center;
}
h3{
    background-color: rgb(71, 192, 149);
    text-align: center;
    color: purple
}